<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<div class="mai-registration mai-registration--success">
    <h2><f:translate key="registration.success.headline" extensionName="mai_events" /></h2>

    <p>
        <f:translate key="registration.success.text" extensionName="mai_events" />
    </p>

    <f:if condition="{registration.waitingList}">
        <p class="mai-registration__waiting-notice">
            <f:translate key="registration.waitingList.notice" extensionName="mai_events" />
        </p>
    </f:if>
</div>

</html>
